body,
h1,
p,
ul {
  text-decoration: none;
}

h1 {
  padding: 40px 0 10px 0;
}

h2{
  color: #3634a8;
  font-weight: bold;
}

h5{
  color: rgb(99, 98, 98)
}

#line {
  color: #423FE5;
  margin: 30px;
}

#tii{
  max-width: 200px;
  max-height: 200px;
}


#zu{
  max-width: 200px;
  max-height: 170px;
  text-align: right;
  margin-left: 30px;
}

.container-ids{
  margin-top: 50px;
}

.description p{
  font-size: 18px;
}

#desc{
  color: rgb(85, 85, 135);
  padding:30px;
}


#idsimg img{
  margin-top: 90px;
  width: 500px;
  height: 320px;
  margin-left: 20px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  transform: translateX(100%);
  animation: slideIn2 2s ease-in forwards;
}

@keyframes slideIn2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: none;
  }
}

#idsimg2 img{
  width: 500px;
  height: 320px;
  margin-left: 50px;
  text-align: right;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  transform: translateX(-100%);
  animation: slideIn 2s ease-in forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: none;
  }
}

.project-logo {
  max-width: 100px;
  max-height: 100px;
  opacity: 50%;
}


.description {
  font-size: 18px;
  font-family: DM sans;
  text-align: justify;

}































































































































































































































































































































































































































































































































































































































































































































































































.navbar-custom-width {
 font-size: medium;
 font-weight: bolder;
 font-family: DM Sans;
}

#one, #two {
  font-size: 18px ;
}

#cmembers{
  padding-left: 70px;
  margin-top: 10px;
  color: rgb(71, 71, 92);
}

#cmembers p{
  font-size: 16px;


  
}


@media (min-width: 992px) {
 .nav {
  margin-left: 70px;
  margin-right: 70px;
 }
}


.nav-tabs {
 display: flex;
 justify-content: center;
 border-bottom: 2px solid black;
 background-color: #f7f7f7;
}

/* Style for the active tab */
.nav-tabs .nav-item .nav-link.active {
 background-color:rgb(104, 186, 230, 0.6);
 color: black;

}

/* Style for the inactive tabs */
.nav-tabs .nav-item .nav-link {
 background-color: rgb(233, 231, 231);
 color: black;
}



